@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased;
}

.book-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 150px;
}

.book-icon:hover .book-spine {
  transform: rotateY(-35deg);
}

.book-icon:hover .book-cover {
  transform: rotateY(35deg);
}

.book-spine {
  transform-origin: right center;
  transition: transform 0.4s ease;
  z-index: 10;
}

.book-cover {
  transform-origin: left center;
  transition: transform 0.4s ease;
  z-index: 20;
}
